/* Styles */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Open+Sans:wght@300;400&family=Varela+Round&display=swap');
:root{
    --main-color: #DB5159;
    --title-color: #A83E44;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    Font-Family: 'Open Sans', Serif;
    Font-Size: 18px;
}

ol, ul {
	list-style: none;
}

a{
    text-decoration: none;
    color: #000;
    
}

h1 {
    Font-Family: 'Varela Round', Sans-Serif;
    Font-Size: 3rem;
}

h2 {
    Font-Family: 'Varela Round', Sans-Serif;
    Font-Size: 2.5rem;
}

p {
    font-family: 'Open Sans', Sans-Serif;
    font-weight: 300;
}

.btn {
    background-color: var(--main-color);
    width: 10vw;
    height: 5vh;
    border-radius: 0.5rem;
    border: 2px solid var(--main-color);
    Font-Family: 'Varela Round', Sans-Serif;
}

/* END Styles */

/* Media Queries */



/* END Media Queries */

/* NavBar */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--main-color);
    height: 3rem;
}

header .logo {
    width: 2.5rem;
    margin-left: 3rem;
}

header .logo:hover {
    cursor: pointer;
}

nav ul {
    display: inline-flex;
    padding-right: 5rem;
}

nav li {
    margin-left: 3rem;
}

nav a {
    font-family: 'Varela Round', Sans-Serif;
   font-size: 1rem;
   color: var(--main-color);
}

    /* Small Mobile */

@media only screen and (max-width: 575.98px) {
    header {
        display: none;
    }
}

/* END NavBar */

/* Mobile NavBar */

footer.mobile-navbar {
    display: none;
}

@media only screen and (max-width: 575.98px) {
    footer.mobile-navbar {
        width: 100%;
        display: flex;
        position: fixed;
        bottom: 0;
        justify-content: space-evenly;
        align-items: center;
        border-top: 2px solid var(--main-color);
        background-color: #fff;
    }

    footer div {
        width: 16vw;
    }

    footer img {
        width: 80%;
        margin: 0 ;
    }

    footer #image3 {
        border: 0px;
        
    }
}


/* END Mobile NavBar */

/* Main */

.container {
    height: 94.2vh;
    display: flex;
}

    /* Small Mobile */

@media only screen and (max-width: 575.98px) {
    .container {
        width: 100%;
        justify-content: center;
    }
}

.banner {
    background-image: url(../images/banner.jpg);
    height: 100%;
    background-size: cover;
    background-position: center center;
    width: 100%;
}

    /* Small Mobile */

@media only screen and (max-width: 575.98px) {
    .banner {
        background-position: center top;
        height: 46vh;
        position: relative;
        top: 46vh;
    }
}

.intro  {
    width: 42%;
    position: absolute;
    top: 25%;
    background-color: rgba(255, 255, 255, 1);
    margin-left: 4rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    min-width: 20rem;
}

    /* Small Mobile */

@media only screen and (max-width: 575.98px) {
    .intro {
        margin: 0;
        border-radius: 0;
        top: 0;
        background-color: transparent;
        margin-top: 10%;
    }
}

.intro h1 {
    text-align: center;
    color: var(--main-color);
    padding: 2rem 0 0.5rem 0;
    font-size: 4vw;
}

.intro p {
    font-size: 1.4vw;
    text-align: justify;
    padding: 0 4rem 0;
}

    /* Small Mobile */

@media only screen and (max-width: 575.98px) {
    .intro h1 {
        text-align: center;
        color: var(--main-color);
        padding: 0.5rem 0;
        font-size: 3rem;
    }
    
    .intro p {
        font-size: 0.8rem;
        text-align: justify;
        padding: 0 2rem 0;
    }
}

.main-btn {
    align-self: flex-end;
    margin: 0.8rem 5rem 2rem;
    color: #fff;
    flex-shrink: 0;
    transition: all 0.3s ease;
    font-size: 0.9vw;
}

.main-btn:hover {
    cursor: pointer;
    background-color: #fff;
    color: var(--main-color);
}

/* Small Mobile */

@media only screen and (max-width: 575.98px) {
    .main-btn {
        align-self: center;
        margin: 1rem;
        color: #fff;
        flex-shrink: 0;
        transition: all 0.3s ease;
        font-size: 0.9rem;
        width: 10rem;
        height: 6vh;
}